<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body class="container">

    <h1 class="d-flex justify-content-center" >Sign In</h1>

    <form  action="/" method="POST" class="form-control" style="  text-align: center">
           
            <label>Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label>Password</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit" class="btn btn-primary" >Login</button><br>
            <a href="/register">Register An Account</a>
    </form>

</body>
</html>